.oddcss{
background-color: rgb(240, 140, 140);
text-align: left;
font-family: Verdana,"DejaVu", sans-serif;

}


#even1{
    color:blue;
    font-size: 36px;


}

.oddcss{

font-size: 15px;

}


.oddcss2{
font-size: 24px;

}
#even2{
background-color: lightgreen;
font-weight: 700;
font-size: 24px;
}




.oddcss3{
font-size: 15px;
text-align: left;
}