body {
  max-width: 600px;
  margin: 0 auto;
}

.one {
  background: pink;
  border: 3px solid blue;
  /* CHANGE ME */
  padding-bottom:15px;
  padding-top:15px;
  padding-left: 25px;
  margin: 10px;

}

.two {
  background: lightblue;
  border: 3px solid purple;
  /* CHANGE ME */
  margin-bottom: 35px;
}

.three {
  background: peachpuff;
  border: 3px solid brown;
  width: 200px;
  /* CHANGE ME */
  padding-top:25px;
  padding-bottom: 25px;
  padding-left: 17px;
  
  margin-left: 378px;
  
}