*{
  margin:0px;
  padding: 0px;
  
}



 

.extcss1{
  background-color: red;
  margin-bottom: 16px;
  align-items: center;
  color:white;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  background-color: red;
  font-size: 32px;
  padding:1px;
}

